:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --mac-window-border-radius: .5rem;
  --gray: rgba(127, 127, 127, 0.25);
}

html,
body {
  background-color: #303030;
  border: .25px solid var(--gray);
  border-radius: var(--mac-window-border-radius);
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titlebar {
  height: 2rem;
  border-top-left-radius: var(--mac-window-border-radius);
  border-top-right-radius: var(--mac-window-border-radius);
  user-select: none;
  width: 100vw;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 1rem;
}